.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color: rgb(207, 154, 154);
    padding: 100px;
}
.introcontainer{
   padding: 500px;
   height: 700px;
   width: 700px;
  
   
}
.imagecontainer{
    padding-right: 500px ;
    padding-top: 100px;
    height: 700px;
    padding-bottom: 0px;
}
.head{
    font-size: 70px;
    color: maroon;
}
.phead{
    font-size: 30px;
}
.button1{
    background-color: rgb(207, 96, 96);
    padding: 10px;
    color: black;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
.head2{
    font-size: 40px;
}
.features{
    font-size: 20px;
}
.feature{
    text-align: center;
    padding: 10px;
    margin: 3px;
}
.imagecontainer2{
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    align-items: baseline;
    margin: 10px;
    max-width: 100%;
}
.i1{
   border: 2px solid palevioletred;
   padding: 20px;
   background-color:rgb(231, 150, 150) ;
   border-top-right-radius: 200px;
   border-top-left-radius: 200px;
   margin: 10px;
   max-height: 90%;
  
}
.i2{
    border: 2px solid palevioletred;
    padding: 20px;
    background-color:rgb(231, 150, 150) ;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    margin: 10px;
    max-height: 90%;
    
 }
 .i3{
    border: 2px solid palevioletred;
    padding: 20px;
    background-color:rgb(231, 150, 150) ;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    margin: 10px;
    max-height: 90%;
 }
 figure figcaption{
    text-align: center;
    color: darkred;
 }
 .services figure figcaption{
    text-align: center;
    color: darkred;
 }
 .services{
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 300px;
    align-items: baseline;
    border-spacing: 0px;
    margin: 0%;
 }
 .i57{
    border: 2px dashed rgb(143, 140, 141);
    padding: 50px;
    background-color: rgb(143, 140, 141);
    margin: 0px;
 }
 .i58{
    border: 2px dashed rgb(143, 140, 141);
    padding: 50px;
    background-color: rgb(143, 140, 141);
    margin: 0px;
 }
 .i59{
    border: 2px dashed rgb(143, 140, 141);
    padding: 50px;
    background-color: rgb(143, 140, 141);
    margin: 0px;
 }
.off{
    color: darkred;
}
.hot{
    display: flex;
    justify-content: center;
    padding: 500px;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color:pink ;
}
.button2{
    background-color: rgb(231, 10, 84);
    border-radius: 3px;
    color: white;
    border: 0px;
}
.ihot{
    padding: 300px;
}
.instagram{
    text-align: center;
}
.flowers4{
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 500px;
    width: 100%;
}
.dhot{
    height: 300px;
}
.hhot{
    font-size: 70px;
}
.phot{
    font-size: 30px;
}
.foot{
    text-align: center;
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    padding: 100px;
}
.sfoot{
    color: deeppink;
}
.dlast{
    background-image: url("Rectangle 9.png");
    background-repeat: no-repeat;
    align-items: center;
    height: 300px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-size: cover;
    font-size: larger;
}   
.last{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe{
    background-color: red;
    padding: 5px;
    border: 0px;
    border-radius: 3px;
}